body {
	font-family: lucida Grande;
	font-size: 13px;
}

.instruction {
	font-style: italic;
	
}

.inputfield {
	display: block;
}

h2 {
	
}
#content {
	clear: both;
	border: solid 1px black;
	
}

#primary-panel{
	width: 50%;
	border: solid 1px red;
	float: left;
	clear: both;
}

#secondary-panel {
    border: 1px solid blue;
    float: right;
    height: 800px;
    width: 50%;
    clear: both;
}

#login-flow {
	display: inline;
}

#fb-root {
	display: inline;
}

.button {
	
}