<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <meta charset="utf-8">
  <title> Joey Rhyu </title>
  <meta name = "Joey's awesome app" context = "a blog on the Facebook platform">
    <head>
      <link rel="stylesheet" type="text/css" href="../assets/css/styles.css" /> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
      <script src="../assets/js/modernizr-latest.js"></script>

	<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-26442399-1']);
	_gaq.push(['_trackPageview']);

	(function() {
	  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})(); 
	</script>
    </head>

    <div id="fb-root"></div>
    
  <body>     
    {% block body %}
    {% endblock %}
  </body>

  <div id="login-flow">
    <fb:login-button   perms="email,friends_likes,offline_access,user_checkins,publish_stream,user_likes,user_location,read_stream" show-faces="true">
    </fb:login-button>
  </div>

  <div id="foot">
  <footer> This page was created using: google appengine, python, modernizr, css3, html
  </div>

  <!--load the fb javascript sdk -->
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({appId: '262869930403008', status: true, cookie: true,
               xfbml: true});
      FB.Event.subscribe('auth.logout', function(response) {
        window.location.reload();
      })
      FB.Event.subscribe('auth.login', function(response) {
	    top.location.href="http://apps.facebook.com/joeyrhyuappdev";
       });
    };
    (function() {
      var e = document.createElement('script');
      e.async=true;
      e.type = 'text/javascript';
      e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
      e.async = true;
      document.getElementById('fb-root').appendChild(e);
    }());
  </script>
  </footer>
</html>




     