<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <title> Joey Rhyu </title>
    <head prefix="og: http://ogp.me/ns# Social_Lists: http://ogp.me/ns/apps/Social_Lists#">
      <meta charset="utf-8">
      <meta property="fb:app_id" content="{{appid}}" />
      <meta property="og:type" content="Social_Lists:list" />
      <meta property="og:title" content="lists" />
      <meta property="og:image" content="" /> 
      <meta property="og:description" content="music list" />
      <meta property="og:url" content="http://jrhyublog.appengine.com" />
      <meta name = "Joey's awesome app" context = "Make your lists social">

      <link rel="stylesheet" type="text/css" href="../assets/css/styles.css" /> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
      <script src="../assets/js/modernizr-latest.js"></script>

  <div id="login-flow">
    <fb:login-button   perms="email,friends_likes,offline_access,user_checkins,publish_stream,user_likes,user_location,read_stream" show-faces="true">
    </fb:login-button>
 
    <fb:add-to-timeline></fb:add-to-timeline>
  </div>

  <!--load the fb javascript sdk -->
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({appId: '{{appid}}', status: true, cookie: true,
               xfbml: true});
      FB.Event.subscribe('auth.logout', function(response) {
        window.location.reload();
      })
      FB.Event.subscribe('auth.login', function(response) {
	    top.location.href="http://apps.facebook.com/joeyrhyuapp";
       });
    };
    (function() {
      var e = document.createElement('script');
      e.async=true;
      e.type = 'text/javascript';
      e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
      e.async = true;
      document.getElementById('fb-root').appendChild(e);
    }());
  </script>
  

	<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-26442399-1']);
	_gaq.push(['_trackPageview']);

	(function() {
	  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})(); 
	</script>
	
    </head>

    <div id="fb-root"></div>
    
  <body>     
    {% block body %}
    {% endblock %}
  </body>
 
</html>




     
