{% extends "base.html" %}
     
{% block body %}
 <div id="content">
	<div id="primary-panel">
        <h1> <img src={{picture}}> {{fname}}'s Social Lists </h1>
        <p class="instruction"> Enter in your top lists and share them with your friends! Vote for the ones you like and find new content. </p>
        <p>
        <h2> Build Your List </h2> 
            <form name="list" action="">
            <ul>
                <li style="margin-bottom: 12px;"> 
	                List Topic <input class="inputfield" type="text" name="listtype" />                
	            <li style="margin-bottom: 12px;"> 
                    Item #1 <input class="inputfield" type="text" name="listvalue">
	            <li style="margin-bottom: 12px;"> 
                    Item #2 <input class="inputfield" type="text" name="listvalue">
	            <li style="margin-bottom: 12px;"> 
                    Item #3 <input class="inputfield" type="text" name="listvalue">
	            <li style="margin-bottom: 12px;"> 
                    Item #4 <input class="inputfield" type="text" name="listvalue">
	            <li style="margin-bottom: 12px;"> 
                    Item #5 <input class="inputfield" type="text" name="listvalue">
            </ul>
            <input class="button" id="listbutton" type="submit" value="List" />
            </form>

        <script>
        $(function() {
           $(".button").click(function() {
               var dataList = $(this).parents('form').serialize();
               $.ajax({
                   type: "POST",
                   url: "/list",
                   data: dataList,
                   success: function() {}
               });
           });
        });
        return false;
        </script> 
        
    	</div>

	<div id="secondary-panel">
			Loading...	
	<script>
	 function updateList() {
		$.ajax({
		  url: "/listdisplay",
		  cache: false,
		  success: function(html){
			$("#secondary-panel").html(html);
		}	
		});
		setTimeout('updateList()', 100000)
	}
	updateList()
	 </script>
	 	</div>

     </div>
     
{% endblock %}





     