{% extends "base.html" %}
     
{% block body %}
     <div id="content">
        <h1> <img src={{picture}}> {{fname}}'s Social Lists 
	    <br> <small> Using Modernizer, CSS, HTML5 </small>         
	    </h1>
        <p> Enter in your top lists and share them with your friends! Vote for the ones you like and find new content. </p>
        <p>
            List <form method="post" action="/">
            <input type="text" name="listtype"/>
            <input type="submit"/>
        </p>
        <section>
            <p> Joey Rhyu works at Facebook </p>
            <img src="../assets/img/me.jpg" >
        </section> 
     </div>
{% endblock %}

</html>




     