{% extends "base.html" %}
     
{% block body %}
     <div id="content">
        <h1> Welcome to Joey's Test App <br> <small> Using Modernizer, CSS, HTML5 </small> </h1>
        <p> lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum
            lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum
            lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum
            lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum 
        </p>
        <section>
            <p> Joey Rhyu works at Facebook </p>
            <img src="../assets/img/me.jpg" >
        </section> 
     </div>
{% endblock %}

</html>




     