{% extends "base.html" %}
     
{% block body %}
     <div id="content">
        <h1> Welcome to Social Lists </h1>
        <p> Show your friends your top favorite things and see what your friends are enjoying too!
        </p>
        <section>
            <p> Joey Rhyu works at Facebook </p>
            <img src="../assets/img/me.jpg" >
        </section> 
     </div>
     
     <form name="lists">
     <input class="button" id="listbutton" type="submit" value="List" />
     </form>
          
{% endblock %}

</html>




     